Connect HOME!

<button onclick="getLocation()">

	Get Your Location

</button>

<script>


	function getLocation() 
	{
		navigator.geolocation.getCurrentPosition(showPosition,showError);
	
	}

	function showPosition(position) 
	{

		alert(position.coords.latitude)
		alert(position.coords.longitude)

	}

	function showError(error) 
	{
	}

</script>