Connect HOME!

<button onclick="getLocation()">

	Get Your Location

</button>

<script>


	function getLocation() 
	{
		navigator.geolocation.getCurrentPosition(showPosition,showError);
	
	}

	function showPosition(position) 
	{
    	$.post("/connect/start_connect", position).always(function( data ) 
			{
			    console.log(data.responseText)

			    //window.location.href = data.responseText;


		    }
		)
	}

	function showError(error) 
	{
	}

</script>